body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    color: #fff;
    background: url('Images/fone1.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.about-header {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

.about-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.about-header p {
    font-size: 1.2rem;
    color: #ccc;
}

.about-content {
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}

.about-content section {
    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
}

.about-content p {
    margin-bottom: 15px;
    color: #ccc;
}

.testimonials {
    margin-top: 20px;
    text-align: center;
}

.testimonials blockquote {
    font-size: 1.2rem;
    color: #ccc;
    margin: 20px 0;
    font-style: italic;
}

.testimonials cite {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #aaa;
}

.upcoming-events ul {
    list-style: none;
    padding: 0;
}

.upcoming-events li {
    font-size: 1.1rem;
    color: #ddd;
    margin: 10px 0;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.controls .button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.controls .button:hover {
    background-color: #777;
}
